In [2]:
import pandas as pd
import numpy as np
from utils import *

In [3]:
data = pd.read_csv('data/Train.csv')

In [4]:
data

        User_ID_Alias  Movie_ID_Alias  Ratings_Rating
0                   1            3417               4
1                   1            2825               5
2                   1            2794               5
3                   1            2659               3
4                   1            2529               2
...               ...             ...             ...
859390           6040             755               4
859391           6040             477               4
859392           6040             347               5
859393           6040             312               4
859394           6040             303               5

[859395 rows x 3 columns]

In [5]:
movies = data['Movie_ID_Alias'].nunique()
users = data['User_ID_Alias'].nunique()
print(f'Movies: {movies}')
print(f'Users: {users}')

Movies: 3224
Users: 6040

In [6]:
data['Movie_ID_Alias'].max()

3706

In [7]:
validation_data = pd.read_csv('data/Validation.csv')
validation_data

      User_ID_Alias  Movie_ID_Alias  Ratings_Rating
0                 1             742               4
1                 2             470               4
2                 3            2177               5
3                 4            1647               4
4                 5            2159               2
...             ...             ...             ...
6035           6036             500               3
6036           6037            1105               1
6037           6038            1376               2
6038           6039             500               4
6039           6040            1996               3

[6040 rows x 3 columns]

In [8]:
# print num of movies and users in validation set
movies = validation_data['Movie_ID_Alias'].nunique()
users = validation_data['User_ID_Alias'].nunique()
print(f'Movies: {movies}')
print(f'Users: {users}')

Movies: 711
Users: 6040

In [15]:
t,v = get_data()

In [16]:
v[:,0]

array([   0,    1,    2, ..., 6037, 6038, 6039])

In [18]:
print(v.shape)
# remove rows with negative values in them from v
v_new = v[v.min(axis=1)>=0,:]
print(v_new.shape)

(6040, 3)
(6039, 3)