In [1]:
import pandas as pd

In [2]:
df_als = pd.read_pickle("results/mf_als.pkl")
df_sgd = pd.read_pickle("results/mf_sgd.pkl")

In [3]:
df_als

        mae      rmse  r_squared         mpr
0  0.880197  1.124330   0.004767  154.049939
1  0.865193  1.095366   0.055384  154.049939
2  0.864075  1.097874   0.051053  154.049939

In [4]:
df_sgd

        mae      rmse  r_squared         mpr
0  0.770072  0.973735   0.253519  154.049939
1  0.758524  0.963158   0.269648  154.049939
2  0.751520  0.956163   0.280219  154.049939
3  0.744967  0.949240   0.290604  154.049939
4  0.740805  0.945401   0.296331  154.049939
5  0.739116  0.944674   0.297412  154.049939

In [5]:
# best results for ALS based on rmse
df_als[df_als.rmse == df_als.rmse.min()]

        mae      rmse  r_squared         mpr
1  0.865193  1.095366   0.055384  154.049939

In [6]:
# best results for SGD based on rmse
df_sgd[df_sgd.rmse == df_sgd.rmse.min()]

        mae      rmse  r_squared         mpr
5  0.739116  0.944674   0.297412  154.049939

In [5]:
a = [(1,2),(4,3),(68,1)]
for i in range(len(a)):
    a[i] = (a[i][0], 1 if a[i][1] > 2  else 0)
print(a)

[(1, 0), (4, 1), (68, 0)]