In [1]:
import pandas as pd

In [6]:
df_als = pd.read_pickle("results/mf_als.pkl")
df_sgd = pd.read_pickle("results/mf_sgd.pkl")

In [7]:
df_als

        mae      rmse     r_squared         mpr
0  0.880197  1.124330 -22368.072668  154.049939
1  0.865193  1.095366 -21230.403309  154.049939
2  0.864075  1.097874 -21327.734440  154.049939

In [8]:
df_sgd

        mae      rmse     r_squared         mpr
0  0.770072  0.973735 -16777.060002  154.049939
1  0.758524  0.963158 -16414.543110  154.049939
2  0.751520  0.956163 -16176.959883  154.049939
3  0.744967  0.949240 -15943.541901  154.049939
4  0.740805  0.945401 -15814.829324  154.049939
5  0.739116  0.944674 -15790.529919  154.049939

In [9]:
# best results for ALS based on rmse
df_als[df_als.rmse == df_als.rmse.min()]

        mae      rmse     r_squared         mpr
1  0.865193  1.095366 -21230.403309  154.049939

In [10]:
# best results for SGD based on rmse
df_sgd[df_sgd.rmse == df_sgd.rmse.min()]

        mae      rmse     r_squared         mpr
5  0.739116  0.944674 -15790.529919  154.049939