In [16]:
import pandas as pd
import numpy as np
import utils

In [2]:
%cd ../

e:\Documents\github\RS_Ex1

In [3]:
df_als = pd.read_pickle("results/mf_als.pkl")
df_sgd = pd.read_pickle("results/mf_sgd.pkl")

In [4]:
train, validation, test = utils.get_data()

In [13]:
test_df = pd.read_csv("data/Test_wo_labels.csv")
train_df = pd.read_csv("data/Train.csv")
val_df = pd.read_csv("data/Validation.csv")

In [6]:
test_df.drop_duplicates()

      User_ID_Alias  Movie_ID_Alias
0                 1             552
1                 2            1246
2                 3            1809
3                 4             716
4                 5            1475
...             ...             ...
6035           6036             742
6036           6037             775
6037           6038             395
6038           6039            1246
6039           6040             500

[6040 rows x 2 columns]

In [17]:
a = np.array([[1,2,3],[4,-2,1]])
for row in a:
    # if row has a negative value, print it
    if np.any(row < 0):
        print(row)

[ 4 -2  1]

In [15]:
validation.shape

(6039, 3)

In [32]:
user_map, item_map = utils.get_user_and_item_map(train_df)

In [38]:
item_map[552]

1621

In [8]:
test_df.shape[0]

6040

In [14]:
r_list = []
for i in range(len(test_df)):
    r_list.append(i)
test_df['r'] = r_list

In [10]:
df_als

        mae      rmse  r_squared       mpr
0  0.875283  1.115166   0.020924  0.000814
1  0.863455  1.092577   0.060188  0.000814
2  0.861306  1.093620   0.058393  0.000814

In [11]:
df_sgd

        mae      rmse  r_squared       mpr
0  0.769855  0.973715   0.253550  0.000814
1  0.758086  0.963150   0.269660  0.000814
2  0.750836  0.956119   0.280285  0.000814
3  0.743771  0.948986   0.290983  0.000814
4  0.738794  0.944827   0.297184  0.000814
5  0.736065  0.943875   0.298600  0.000814

In [12]:
# best results for ALS based on rmse
df_als[df_als.rmse == df_als.rmse.min()]

        mae      rmse  r_squared       mpr
1  0.863455  1.092577   0.060188  0.000814

In [13]:
# best results for SGD based on rmse
df_sgd[df_sgd.rmse == df_sgd.rmse.min()]

        mae      rmse  r_squared       mpr
5  0.736065  0.943875     0.2986  0.000814

In [5]:
a = [(1,2),(4,3),(68,1)]
for i in range(len(a)):
    a[i] = (a[i][0], 1 if a[i][1] > 2  else 0)
print(a)

[(1, 0), (4, 1), (68, 0)]